@model Factuacion_MVC.Models.Tblproducto

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid m-2">
    <h1 class="mt-2 titulos"><b>Agregar</b></h1>

    <h4 class="mt-2 titulos">Producto</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 ms-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <label asp-for="StrNombre" class="control-label">Nombre</label>
                    <input asp-for="StrNombre" class="form-control" />
                    <span asp-validation-for="StrNombre" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="StrCodigo" class="control-label">Codigó</label>
                    <input asp-for="StrCodigo" class="form-control" />
                    <span asp-validation-for="StrCodigo" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="NumPrecioCompra" class="control-label">Precio de Compra</label>
                    <input asp-for="NumPrecioCompra" class="form-control" />
                    <span asp-validation-for="NumPrecioCompra" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="NumPrecioVenta" class="control-label">Precio de Venta</label>
                    <input asp-for="NumPrecioVenta" class="form-control" />
                    <span asp-validation-for="NumPrecioVenta" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="IdCategoria" class="control-label">Categoria</label>
                    <select asp-for="IdCategoria" class ="form-control" asp-items="ViewBag.IdCategoria"></select>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="StrDetalle" class="control-label">Detalle</label>
                    <input asp-for="StrDetalle" class="form-control" />
                    <span asp-validation-for="StrDetalle" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="StrFoto" class="control-label">Foto</label>
                    <input asp-for="StrFoto" class="form-control" />
                    <span asp-validation-for="StrFoto" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="NumStock" class="control-label">Stock</label>
                    <input asp-for="NumStock" class="form-control" />
                    <span asp-validation-for="NumStock" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="DtmFechaModifica" class="control-label">Fecha modificación</label>
                    <input asp-for="DtmFechaModifica" class="form-control" />
                    <span asp-validation-for="DtmFechaModifica" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="StrUsuarioModifica" class="control-label">Usuario Modifica</label>
                    <input asp-for="StrUsuarioModifica" class="form-control" />
                    <span asp-validation-for="StrUsuarioModifica" class="text-danger"></span>
                </div>
                <div class="d-flex mx-auto justify-content-center align-items-center">
                    <div class="form-group m-2">
                        <input type="submit" value="Crear" class="btn btn-outline-success ps-4 pe-4" />
                    </div>
                    <div class="m-2">
                        <a asp-action="Index" class="btn btn-outline-danger ">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
