@model IEnumerable<Factuacion_MVC.Models.TblcategoriaProd>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid m-2">

    <h1 class="mt-2 titulos">Administrar <b>Categoria Productos</b></h1>

    <form asp-controller="TblcategoriaProds" asp-action="Index">
        <div class="row">
            <div class="col-sm-8">
                <div class="search-box d-flex w-100">
                    <button type="submit" class="btn btnSearch">
                        <i class="bi bi-search"></i>
                    </button>
                    <input type="text" name="buscar" class="form-control " placeholder="Buscar&hellip;" />
                </div>
            </div>
            <div class="col-sm-4">
                <p>
                    <a asp-action="Create" class="btn btn-outline-info">+ Agregar</a>
                </p>

            </div>
        </div>
    </form>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Categoria Producto
                </th>
                <th class="campoAcciones">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StrDescripcion)
                </td>
                <td class="text-center campoAcciones">
                   <a asp-action="Edit" class="text-primary ps-1 pe-1" asp-route-id="@item.IdCategoria"><i class="bi bi-pencil-fill"></i></a> |
                   <a asp-action="Details" class="text-warning ps-1 pe-1" asp-route-id="@item.IdCategoria"><i class="bi bi-eye-fill"></i></a> |
                   <a asp-action="Delete" class="text-danger ps-1 pe-1" asp-route-id="@item.IdCategoria"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
