@model Factuacion_MVC.Models.Tblrole

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid m-2">
    <h1 class="mt-2 titulos">Eliminar</h1>

    <div class="row">

        <h4 class="mt-2 titulos">Rol</h4>
        <hr />
        <h3 class="mb-2 ms-4 mb-2 fw-normal">¿Seguro de eliminar esto?</h3>
        <div class="col-6 w-50">
            <dl class="row ms-3">
                <dt class = "col-sm-4">
                    Rol
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrDescripcion)
                </dd>
            </dl>
    
            <div class="d-flex w-50 mt-3 justify-content-center align-items-center">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdRolEmpleado" />
                    <input type="submit" value="Eliminar" class="btn btn-outline-danger me-2" />
                    <a asp-action="Index" class="btn btn-outline-warning ms-2">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
