@model Factuacion_MVC.Models.Tblseguridad

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid m-2">
    <h1 class="mt-2 titulos"><b>Editar</b></h1>

    <h4 class="mt-2 titulos">Usuario</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 ms-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdSeguridad" />
                <div class="form-group">
                    <label asp-for="IdEmpleado" class="control-label"></label>
                    <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                    <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrUsuario" class="control-label"></label>
                    <input asp-for="StrUsuario" class="form-control" />
                    <span asp-validation-for="StrUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrClave" class="control-label"></label>
                    <input asp-for="StrClave" class="form-control" />
                    <span asp-validation-for="StrClave" class="text-danger"></span>
                </div>
                <div class="d-flex mx-auto justify-content-center align-items-center">
                    <div class="form-group m-2">
                        <input type="submit" value="Guardar" class="btn btn-outline-success ps-3 pe-3" />
                    </div>
                    <div class="m-2">
                        <a asp-action="Index" class="btn btn-outline-danger ">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
